@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 700px;

  margin: 30px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

label {
  display: inline-block;
  margin: 0 0;
}

input[type="text"] {
  width: 100%;
  background: transparent;
  position: relative;
  height: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  border-bottom: 2px solid #090900;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}
